@{ ViewBag.Title = "PresentarProyecto";
                Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="sidenav">
    <div class="login-main-text">
        <h1>Registro de Proyecto</h1>
        <p></p>
    </div>
</div>
<div class="main">
    <div class="col-md-6 col-sm-12">
        <div class="login-form">
            <form method="post" action="/Home/Home">
                <div class="form-group">
                    <label for="usuario">Titulo Proyecto</label>
                    <input type="text" class="form-control" name="titulo" id="titulo" placeholder="titulo" required>
                </div>
                <div class="form-group">
                    <label for="password">Descripción</label>
                    <input type="password" class="form-control" name="descripción" id="descripción" placeholder="descripción" required>
                </div>
                <div class="form-group">
                    <label for="usuario">Monto Solicitado</label>
                    <input type="text" class="form-control" name="montoSolicitado" id="montoSolicitado" placeholder="monto solicitado" required>
                </div>
                <div class="form-group">
                    <label for="password">Cantidad Cuotas</label>
                    <select class="form-control form-control-sm">
                        <option>Seleccione cantidad</option>
                        <option>1</option>
                        <option>2</option>
                    </select>
                </div>
                <div class="form-group">
                    <div class="btn btn-primary btn-sm float-left">
                        <span>Choose file</span>
                        <input type="file">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="Upload your file">
                    </div>
                </div>
                <input type="submit" class="btn btn-black" id="btnLogin" value="Ingresar" />
                <p></p>
            </form>
        </div>
    </div>
</div>
